<!DOCTYPE html><html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Etudiant</title>
  <script src="https://kit.fontawesome.com/4c183a222d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" charset="utf-8"></script>
</head>

<body>

  <header role="header">
    <nav class="menu" role="navigation">
      <div class="inner">
        <div class="m-left">
          <h1 class="logo">Inginious statistics</h1>
        </div>
        <div class="m-right">
          <a href="/" class="m-link"><i class="fas fa-home"></i>Acceuil</a>
          <a href="/course" class="m-link"><i class="fas fa-journal-whills"></i>Cours</a>
          <a href="/student-graph" class="m-link"><i class="fas fa-user-graduate"></i>Etudiant</a>
          <a href="/tasks-graph" class="m-link"><i class="fas fa-tasks"></i>Tâche</a>
          <div class="m-nav-toggle">
            <span class="m-toggle-icon"></span>
          </div>
        </div>
    </nav>
  </header>
  <script src="{{ url_for('static', filename='js/app.js') }}" charset="utf-8"></script>
  <header id="showcase">
    <h1>cours</h1>
    <p>Choisissez votre cours.</p>
    <a href="/course-LINFO1252" class="button"> LINFO1252</a>
    <a href="/course-LINFO1012" class="button"> LINFO1012</a>
    <a href="/course-LESPO1412" class="button"> LEPL1402</a>
  </header>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="white-chart">
    <div style="width:70%">
      <canvas id="myChart"></canvas>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="width:70%">
      <canvas id="myChart2"></canvas>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="width:70%">
      <canvas id="myChart3"></canvas>
    </div>
  </div>
  <script>
    Chart.defaults.global.title.display = true;
    Chart.defaults.global.title.text = "PAS DE TITRE";
    Chart.defaults.global.elements.point.radius = 3;
  </script>

  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
    ],
        xAxisID: ['Date'],
        yAxisID: ['Number of confirmed cases'],
        datasets: [{
          label: '',
          borderColor: 'rgb(0,188,212)',
          data: [
          {% for item in values %}
           "{{ item }}",
          {% endfor %}
    ]
        }]
      },

      // Configuration options go here
      options: {
        title: {
          text: "Nombre de submission par tâche",
          fontColor: 'rgb(0,188,212)',
          fontSize: 20
        },
        elements: {
          point: {
            radius: 5
          }
        },
        layout: {
          padding: {
            left: 50,
            right: 0,
            top: 0,
            bottom: 0
          }
        },
        legend: {
          labels: {
            fontColor: 'rgb(0,188,212)'
          }
        }
      }
    });
  </script>
  <script>
    var ctx = document.getElementById('myChart2').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'pie',

      // The data for our dataset
      data: {
        labels: [
		'Rst','Html'],
        xAxisID: ['Date'],
        yAxisID: ['Number of confirmed cases'],
        datasets: [{
          label: 'Rst',
          borderColor: 'rgb(0,188,212)',
          data: [
          {% for item in values2 %}
           "{{ item }}",
          {% endfor %}
    ]
        }]
      },

      // Configuration options go here
      options: {
        title: {
          text: "Proportion de code HTML ou rst pour une tâche.",
          fontColor: 'rgb(0,188,212)',
          fontSize: 20
        },
        elements: {
          point: {
            radius: 5
          }
        },
        layout: {
          padding: {
            left: 50,
            right: 0,
            top: 0,
            bottom: 0
          }
        },
        legend: {
          labels: {
            fontColor: 'rgb(0,188,212)'
          }
        }
      }
    });
  </script>
  <script>
    var ctx = document.getElementById('myChart3').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: [
          {% for item in labels3 %}
           "{{ item }}",
          {% endfor %}
    ],
        xAxisID: ['Date'],
        yAxisID: ['Number of confirmed cases'],
        datasets: [{
          label: 'My First dataset',
          borderColor: 'rgb(0,188,212)',
          data: [
          {% for item in values3 %}
           "{{ item }}",
          {% endfor %}
    ]
        }]
      },

      // Configuration options go here
      options: {
        title: {
          text: "Moyenne des résultats par tâches.",
          fontColor: 'rgb(0,188,212)',
          fontSize: 20
        },
        elements: {
          point: {
            radius: 5
          }
        },
        layout: {
          padding: {
            left: 50,
            right: 0,
            top: 0,
            bottom: 0
          }
        },
        legend: {
          labels: {
            fontColor: 'rgb(0,188,212)'
          }
        }
      }
    });
  </script>



</body>

</html>
