<!doctype html>
<!-- Cette page html est utilisee par les autres pages -->
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Chart.css') }}">
        <script src="{{ url_for('static', filename='js/Chart.bundle.js') }}"></script>
        <title>Inginious's Charts</title>
    </head>
    <body>
        <nav class="grey darken-3">
            <div class="container nav-wrapper">
                <a href="/" class="left brand-logo">Inginious's Charts</a>
                <form class="right" action="/charts" method="get">
                    <button class="waves-effect waves-light btn-large grey darken-2"
                            type="submit" name="course" value="LEPL1402">LEPL1402</button>

                    <button class="waves-effect waves-light btn-large grey grey darken-1"
                            type="submit" name="course" value="LSINF1101-PYTHON">LSINF1101</button>

                    <button class="waves-effect waves-light btn-large grey"
                            type="submit" name="course" value="LSINF1252">LSINF1252</button>
                </form>
            </div>
        </nav>
        <div class="container">{% block content %}{% endblock %}</div>
    </body>
</html>
