{% extends 'base.html' %}

{% block content %}
<div class="card grey darken-3">
    <div class="card-content white-text">
        <span class="card-title center"><h2>{{ title }}</h2></span>
        <canvas id="graph" class="canvas-container"> </canvas>
        <br>
        <div class="row container">
            <select id="tasks" class="left col l6 browser-default">
                <option value="global" selected>Global</option>
            </select>

            <button class="right col l2 btn-large grey waves-effect waves-light" onclick="compute_change()">Select
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</div>

<script>
    // Data is of the form [[0:task, 1:course, 2:submitted_on, 3:result], ...]
    let data = {{ data | safe }};
    let dates = [];
    let total = [];
    let valid = [];
    let tasks = [];

    // Initialization
    if(data.length > 0) {
        tasks.push(data[0][0]);
        dates.push(data[0][2].slice(0, 10));
        total.push(1);
        valid.push(data[0][3] === 'success');
        for (let i = 1; i < data.length; i++) {
            if (tasks.indexOf(data[i][0]) < 0) {
                tasks.push(data[i][0]);
            }
            if (data[i][2].slice(0, 10) === dates[dates.length - 1]) {
                total[total.length - 1]++;
                valid[valid.length - 1] += data[i][3] === 'success';
            } else {
                dates.push(data[i][2].slice(0, 10));
                total.push(1);
                valid.push(data[i][3] === 'success');
            }
        }
    }

    const ctx = document.getElementById('graph').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                label: 'Submissions',
                backgroundColor: 'red',
                borderColor: 'red',
                fill: false,
                data: total,
            }, {
                label: 'Valid submissions',
                backgroundColor: 'green',
                borderColor: 'green',
                fill: true,
                data: valid,
            }]
        }
    });

    // function triggered when button "Select" is pushed
    function compute_change(){
        if(data.length > 0){
            let sel = document.getElementById('tasks');
            let task_name = sel.options[sel.selectedIndex].value;
            let new_dates = [];
            let new_total = [];
            let new_valid = [];

            let i = 0;
            if(task_name !== 'global'){
                while(i < data.length && data[i][0] !== task_name){
                    i++;
                }
            }

            if(i < data.length){
                new_dates.push(data[i][2].slice(0, 10));
                new_total.push(1);
                new_valid.push(data[i][3] === 'success');
                for(let j = i + 1; j < data.length; j++){
                    if(task_name === 'global' || data[j][0] === task_name){
                        if(data[j][2].slice(0, 10) !== new_dates[new_dates.length -1]){
                            new_dates.push(data[j][2].slice(0, 10));
                            new_total.push(1);
                            new_valid.push(data[j][3] === 'success');
                        }
                        else{
                            new_total[new_total.length - 1]++;
                            new_valid[new_valid.length - 1] += data[j][3] === 'success';
                        }
                    }
                }
            }

            myChart.data['labels'] = new_dates;
            myChart.data['datasets'][0]['data'] = new_total;
            myChart.data['datasets'][1]['data'] = new_valid;
            myChart.update();
        }
    }

    // CREATE OPTION FOR SELECT FROM TASKS LIST
    tasks.sort()
    const sel = document.getElementById('tasks');
    for(let j = 0; j < tasks.length; j++){
        let opt = document.createElement('option');
        opt.appendChild( document.createTextNode(tasks[j]));
        opt.value = tasks[j];
        sel.appendChild(opt);
    }

</script>
{% endblock %}