<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>En savoir plus</title>
  <script src="https://kit.fontawesome.com/4c183a222d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" charset="utf-8"></script>
</head>

<body>

  <header role="header">
    <nav class="menu" role="navigation">
      <div class="inner">
        <div class="m-left">
          <h1 class="logo">Inginious statistics</h1>
        </div>
        <div class="m-right">
          <a href="/" class="m-link"><i class="fas fa-home"></i>Acceuil</a>
          <a href="/course" class="m-link"><i class="fas fa-journal-whills"></i>Cours</a>
          <a href="/student-graph" class="m-link"><i class="fas fa-user-graduate"></i>Etudiant</a>
          <a href="/tasks-graph" class="m-link"><i class="fas fa-tasks"></i>Tâche</a>
          <div class="m-nav-toggle">
            <span class="m-toggle-icon"></span>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div id="showcase">
    <h1>En savoir plus</h1>
    <p>Bienvenue sur notre site regroupant les données Inginious concernant les cours :"LEPL1402","LSINF1252" et "LSINF1101-Python". <br>
      Dans cette section nous vous expliquerons comment utiliser notre site de manière optimale pour ne louper aucune information. <br>
      En plus de l'onglet 'Acceuil', trois autres sont disponibles :'Cours','Etudiant" et 'Tâche'. Chacun d'entre eux renvoit à une suite de graphiques aux diverses informations. <br>
      Dans la section 'Cours', nous avons le graphique:'Nombre de soumissions par tache', ainsi que le graphique :'Proportion de code HTML ou rst pour ce cours' et le dernier mais pas des moindres:"Moyenne des résultats par tâche". <br>
      Tout ceux-ci sont automatiquement mis à jours lorsque vous cliquez sur l'un des trois cours proposé en haut de la page.
      L'onglet "Etudiant et l'onglet "Tâche" se ressemblent fortement, vous devez indiquer le nom correct pour pouvoir accéder aux informations.
      Les graphiques étant automatisés, il vous sera alors possible de changer d'étudiant ou de cours quand bon vous semble en tapant son nom dans la barre de recherche.</p>
    <br>
  </div>
</body>

</html>
