<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Etudiant</title>
  <script src="https://kit.fontawesome.com/4c183a222d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" charset="utf-8"></script>
</head>

<body>

  <header role="header">
    <nav class="menu" role="navigation">
      <div class="inner">
        <div class="m-left">
          <h1 class="logo">Inginious statistics</h1>
        </div>
        <div class="m-right">
          <a href="/" class="m-link"><i class="fas fa-home"></i>Acceuil</a>
          <a href="/course" class="m-link"><i class="fas fa-journal-whills"></i>Cours</a>
          <a href="/student-graph" class="m-link"><i class="fas fa-user-graduate"></i>Etudiant</a>
          <a href="/tasks-graph" class="m-link"><i class="fas fa-tasks"></i>Tâche</a>
          <div class="m-nav-toggle">
            <span class="m-toggle-icon"></span>
          </div>
        </div>
    </nav>
  </header>
  <div id="showcase">
    <h1>En savoir plus</h1>
    <p>Dans cette section en savoir plus, nous vous présentons les différentes spécificités de notre site WEB. Dans l'onglet 'cours', le choix des trois cours vous est proposé, lorsque vous cliquez sur l'un d'entre eux, les informations sous formes
      de graphique à son sujet apparaissent. Pour l'instant toutes les informations ne sont pas implémentées sur le site. Nous travaillons pour les rendre automatiques et faciles d'accès.
      Dans l'onglet étudiant, il vous sera possible de taper un nom d'étudiant pour voir les différentes informations spécifiques à son sujet.
      De même pour L'onglet task qui permettra de visionner ce qui a été fait ou pas fait, la moyenne, et d'autres choses bien utiles.
      Il nous reste encore quelques soucis au niveau de l'implémentation de certain 'submit', ceux-ci seront très vite réglés pour que le site fonctionne de manière optimale!</p>
  </div>
</body>

</html>
