<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Etudiant</title>
  <script src="https://kit.fontawesome.com/4c183a222d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" charset="utf-8"></script>
</head>

<body>

  <header role="header">
    <nav class="menu" role="navigation">
      <div class="inner">
        <div class="m-left">
          <h1 class="logo">Inginious statistics</h1>
        </div>
        <div class="m-right">
          <a href="/" class="m-link"><i class="fas fa-home"></i>Acceuil</a>
          <a href="/course" class="m-link"><i class="fas fa-journal-whills"></i>Cours</a>
          <a href="/student-graph" class="m-link"><i class="fas fa-user-graduate"></i>Etudiant</a>
          <a href="/tasks-graph" class="m-link"><i class="fas fa-tasks"></i>Tâche</a>
          <div class="m-nav-toggle">
            <span class="m-toggle-icon"></span>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <script src="{{ url_for('static', filename='js/app.js') }}" charset="utf-8"></script>
  <div class="align">
    <h1>Choix de l'étudiant (ex: anon_0)</h1>
    <br>
    <form class="form" method="POST">
      <input type="text" name="name" autocomplete="off" required />
      <label for="name" class="label-name">
        <span class="content-name">Nom</span>
      </label>
    </form>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="white-chart">
    <div style="width:70%">
      <canvas id="myChart2"></canvas>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="none-white-chart">
    <div style="width:70%">
      <canvas id="myChart"></canvas>
    </div>
  </div>
 <br>
 <br>
 <br>

  <script>
      Chart.defaults.global.defaultFontFamily = 'Lato';
      Chart.defaults.global.defaultFontSize = 18;
      Chart.defaults.global.title.display = true;
      Chart.defaults.global.title.text = "PAS DE TITRE";
      Chart.defaults.global.elements.point.radius = 3;
      </script>


  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'pie',

      // The data for our dataset
      data: {
        labels: ['succeed task', 'other_task'],
        datasets: [{
          borderColor: 'rgb(0,188,212)',
          data: [
          {% for item in values %}
           "{{ item }}",
          {% endfor %}
          ],
          backgroundColor: ['rgb(236,240,241)','rgb(0,188,212)'],
          hoverBorderColor: 'rgb(41,128,185)',
          hoverBorderWidth: 4
        }]
      },

      // Configuration options go here
      options: {
        title: {
          text: "Nombre de tâches réussies",
          fontColor: 'rgb(0,188,212)',
          fontSize: 20
        },
        layout: {
          padding: {
            left: 50,
            right: 0,
            top: 0,
            bottom: 0
          }
        },
        legend: {
          labels: {
            fontColor: 'rgb(0,188,212)'
          }
        }
      }
    });

    var ctx = document.getElementById('myChart2').getContext('2d');
    var chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [
          {% for item in abscisse %}
           "{{ item }}",
          {% endfor %}
    ],
        xAxisID: ['tasks'],
        yAxisID: ['Moyenne des résultats'],
        datasets: [{
          label: 'Moyenne des résultats',
          borderColor: 'rgb(0,188,212)',
          data: [
          {% for item in ordonnée %}
           "{{ item }}",
          {% endfor %}
          ],
            backgroundColor: 'rgba(0, 0, 0, 0)',
            pointBackgroundColor: 'rgb(0,188,212)',
            pointHoverRadius: 7
        }]
      },

      // Configuration options go here
      options: {
        title: {
          text: "Moyenne des résultats par tâches.",
          fontColor: 'rgb(0,188,212)',
          fontSize: 30
        },
        elements: {
          point: {
            radius: 4
          }
        },
        layout: {
          padding: {
            left: 50,
            right: 0,
            top: 0,
            bottom: 0
          }
        },
        legend: {
          labels: {
            fontColor: 'rgb(0,188,212)'
          }
        }
      }
    });
  </script>

</body>

</html>
