<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student</title>
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <title>My Chart.js Chart</title>
</head>
<body>
<ul>
<li><a href="student_graph.html"><div id="page">Student</div></a></li>
<li><a href="course_graph.html">Course</a></li>
<li><a href="index.html">Index</a></li>
<li><div class="button">
  <button id="mybutton" class="mybutton">Dropdown</button>
  <div id="mylist" class="mylist">
    <a href="Lsinf1101.html">LSINF1101</a>
    <a href="LEPL1402.html">LEPL1402</a>
    <a href="LSINF1252.html">LSINF1252</a>
  </div>
</div>

<script>
// Get the button, and when the user clicks on it, execute myFunction
document.getElementById("mybutton").onclick = function() {myFunction()};

/* myFunction toggles between adding and removing the show class, which is used to hide and show the dropdown content */
function myFunction() {
  document.getElementById("mylist").classList.toggle("show");
}
</script>
	</li>

</ul>
<br></br>
  <h1> Student name</h1>
  <div class="container", style="width: 80%">
    <canvas id="myChart"></canvas>
  </div>
  <script>
    let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = 'rgba(255, 99, 132, 0.6)';

    let massPopChart = new Chart(myChart, {
      type:'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:['succeed task', 'other_task'],
        datasets:[{
          label:'Task',
          data:[45, 5],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'white'
        }]
      },
      options:{
        title:{
          display:true,
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'white',
          }
        },
        layout:{
          padding:{
            left:425,
            right:0,
            bottom:550,
            top:0,
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
  </script>
</body>
</html>
