<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Etudiant</title>
  <script src="https://kit.fontawesome.com/4c183a222d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" charset="utf-8"></script>
</head>

<body>

  <header role="header">
    <nav class="menu" role="navigation">
      <div class="inner">
        <div class="m-left">
          <h1 class="logo">Inginious statistics</h1>
        </div>
        <div class="m-right">
          <a href="/" class="m-link"><i class="fas fa-home"></i>Acceuil</a>
          <a href="/course" class="m-link"><i class="fas fa-journal-whills"></i>Cours</a>
          <a href="/student-graph" class="m-link"><i class="fas fa-user-graduate"></i>Etudiant</a>
          <a href="/tasks-graph" class="m-link"><i class="fas fa-tasks"></i>Tâche</a>
          <div class="m-nav-toggle">
            <span class="m-toggle-icon"></span>
          </div>
        </div>
    </nav>
  </header>
  <script src="{{ url_for('static', filename='js/app.js') }}" charset="utf-8"></script>
  <div class="align">
    <h1>Choix de l'étudiant et/ou de la tâche</h1>
    <br>
    <div class="form">
      <input type="text" name="name" autocomplete="off" required />
      <label for="name" class="label-name">
        <span class="content-name">Nom</span>
      </label>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="white-chart">
    <div style="width:70%">
      <canvas id="myChart"></canvas>
    </div>
    <br>
    <br>
  </div>
  <br>
  <br>
  <br>

  <div id="none-white-chart">
    <div style="width:70%">
      <canvas id="myChart2"></canvas>
    </div>
    <br>
    <br>
  </div>
  <br>
  <br>
  <br>
  <div id="white-chart">
    <div style="width:70%">
      <canvas id="myChart3"></canvas>
    </div>
  </div>

  <script>
    const getData = $.get('/data');

    getData.done(function(results) {
      let myChart = document.getElementById('myChart').getContext('2d');

      // Global Options
      Chart.defaults.global.defaultFontFamily = 'Lato';
      Chart.defaults.global.defaultFontSize = 18;
      Chart.defaults.global.title.display = true;
      Chart.defaults.global.title.text = "PAS DE TITRE";
      Chart.defaults.global.defaultFontColor = 'rgba(255, 99, 132, 0.6)';

      let massPopChart = new Chart(myChart, {
        type: 'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
          labels: ['succeed task', 'other_task'],
          datasets: [{
            label: 'Population',
            data: results.results,
            backgroundColor: [
              'rgb(0, 125, 245)',
              'rgb(255, 50, 132)',
              'rgba(255, 206, 86, 0.6)',
              'rgba(75, 192, 192, 0.6)',
              'rgba(153, 102, 255, 0.6)',
              'rgba(255, 159, 64, 0.6)',
              'rgba(255, 99, 132, 0.6)'
            ],
            borderWidth: 1,
            borderColor: 'rgb(236,240,241)',
            hoverBorderWidth: 3,
            hoverBorderColor: 'rgb(236,240,241)'
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Pie of succeded and Fail tasks',
            fontSize: 25,
            fontColor: 'rgb(236,240,241)'
          },
          legend: {
            display: true,
            position: 'right',
            labels: {
              fontColor: 'rgb(236,240,241)',
            }
          },
          layout: {
            padding: {
              left: 50,
              right: 0,
              bottom: 0,
              top: 0
            }
          },
          tooltips: {
            enabled: true
          }
        }
      });
    });
  </script>
  <script>
    const getData = $.get('/data');

    getData.done(function(X) {
      let myChart = document.getElementById('myChart2').getContext('2d');

      // Global Options
      Chart.defaults.global.defaultFontFamily = 'Lato';
      Chart.defaults.global.defaultFontSize = 18;
      Chart.defaults.global.title.display = true;
      Chart.defaults.global.title.text = "PAS DE TITRE";
      Chart.defaults.global.defaultFontColor = 'rgba(255, 99, 132, 0.6)';

      let massPopChart = new Chart(myChart, {
        type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
          labels: X.y,
          datasets: [{
            label: 'Population',
            data: X.X,
            backgroundColor: [
              'rgb(0, 125, 245)',
              'rgb(255, 50, 132)',
              'rgba(255, 206, 86, 0.6)',
              'rgba(75, 192, 192, 0.6)',
              'rgba(153, 102, 255, 0.6)',
              'rgba(255, 159, 64, 0.6)',
              'rgba(255, 99, 132, 0.6)'
            ],
            borderWidth: 1,
            borderColor: 'rgb(236,240,241)',
            hoverBorderWidth: 3,
            hoverBorderColor: 'rgb(236,240,241)'
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Pie of succeded and Fail tasks',
            fontSize: 25,
            fontColor: 'rgb(236,240,241)'
          },
          legend: {
            display: true,
            position: 'right',
            labels: {
              fontColor: 'rgb(236,240,241)',
            }
          },
          layout: {
            padding: {
              left: 50,
              right: 0,
              bottom: 0,
              top: 0
            }
          },
          tooltips: {
            enabled: true
          }
        }
      });
    });
  </script>
  <script>
    const getData = $.get('/data');

    getData.done(function(results) {
      let myChart = document.getElementById('myChart3').getContext('2d');

      // Global Options
      Chart.defaults.global.defaultFontFamily = 'Lato';
      Chart.defaults.global.defaultFontSize = 18;
      Chart.defaults.global.title.display = true;
      Chart.defaults.global.title.text = "PAS DE TITRE";
      Chart.defaults.global.defaultFontColor = 'rgba(255, 99, 132, 0.6)';

      let massPopChart = new Chart(myChart, {
        type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
          labels: ['succeed task', 'other_task'],
          datasets: [{
            label: 'Population',
            data: results.results,
            backgroundColor: [
              'rgb(0, 125, 245)',
              'rgb(255, 50, 132)',
              'rgba(255, 206, 86, 0.6)',
              'rgba(75, 192, 192, 0.6)',
              'rgba(153, 102, 255, 0.6)',
              'rgba(255, 159, 64, 0.6)',
              'rgba(255, 99, 132, 0.6)'
            ],
            borderWidth: 1,
            borderColor: 'rgb(236,240,241)',
            hoverBorderWidth: 3,
            hoverBorderColor: 'rgb(236,240,241)'
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Pie of succeded and Fail tasks',
            fontSize: 25,
            fontColor: 'rgb(236,240,241)'
          },
          legend: {
            display: true,
            position: 'right',
            labels: {
              fontColor: 'rgb(236,240,241)',
            }
          },
          layout: {
            padding: {
              left: 50,
              right: 0,
              bottom: 0,
              top: 0
            }
          },
          tooltips: {
            enabled: true
          }
        }
      });
    });
  </script>
</body>

</html>
