<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Task</title>
  <script src="https://kit.fontawesome.com/4c183a222d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" charset="utf-8"></script>
</head>

<body>

  <header role="header">
    <nav class="menu" role="navigation">
      <div class="inner">
        <div class="m-left">
          <h1 class="logo">Inginious statistics</h1>
        </div>
        <div class="m-right">
          <a href="/" class="m-link"><i class="fas fa-home"></i>Acceuil</a>
          <a href="/course" class="m-link"><i class="fas fa-journal-whills"></i>Cours</a>
          <a href="/student-graph" class="m-link"><i class="fas fa-user-graduate"></i>Etudiant</a>
          <a href="/tasks-graph" class="m-link"><i class="fas fa-tasks"></i>Tâche</a>
          <div class="m-nav-toggle">
            <span class="m-toggle-icon"></span>
          </div>
        </div>
    </nav>
  </header>
  <script src="{{ url_for('static', filename='js/app.js') }}" charset="utf-8"></script>
  <div class="align">
    <h1>Choix de l'étudiant et/ou de la tâche</h1>
    <br>
    <form class="form" method="POST">
      <input type="text" name="name" autocomplete="off" required />
      <label for="name" class="label-name">
        <span class="content-name">Nom</span>
      </label>
    </form>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="white-chart">
    <div style="width:70%">
      <canvas id="myChart"></canvas>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="none-white-chart">
   <div style="width:70%">
     <canvas id="myChart2"></canvas>
   </div>
  </div>
  <script>
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.title.display = true;
    Chart.defaults.global.title.text = "PAS DE TITRE";
    Chart.defaults.global.elements.point.radius = 3;
  </script>
  <script>
    var ctx = document.getElementById('myChart2').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'pie',

      // The data for our dataset
      data: {
        labels: ['Succeed','Failed'],
        datasets: [{
          borderColor: 'rgb(0,188,212)',
          data: [
          {% for item in values %}
           "{{ item }}",
          {% endfor %}
          ],
        backgroundColor: ['rgb(236,240,241)','rgb(0,188,212)'],
        hoverBorderColor: 'rgb(41,128,185)',
        hoverBorderWidth: 4
        }]
      },

      // Configuration options go here
      options: {
        title: {
          text: "Pourcentage de réussite pour cours en question",
          fontColor: 'rgb(0,188,212)',
          fontSize: 20
        },
      layout: {
          padding: {
            left: 50,
            right: 0,
            top: 0,
            bottom: 0
          }
        },
      legend: {
        labels: {
          fontColor: 'rgb(0,188,212)'
          }
        }
      }
    });

    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',

      // The data for our dataset
      data: {
        labels: [
          {% for item in labels2 %}
           "{{ item }}",
          {% endfor %}
        ],
        xAxisID: ['status of the exercices'],
        yAxisID: ['Nombre of tasks'],
        datasets: [{
          label: "Nombre d'étudiant par points",
          borderColor: 'rgb(0,188,212)',
          data: [
          {% for item in values2 %}
           "{{ item }}",
          {% endfor %}
        ],
        backgroundColor:['rgb(52,152,219)','rgb(236,240,241)','rgb(26,188,156)','rgb(46,204,113)','rgb(52,73,94)'],
        hoverBorderColor: 'rgb(41,128,185)',
        hoverBorderWidth: 3
        }]
      },

      // Configuration options go here
      options: {
        title: {
          text: "Répartition des points",
          fontColor: 'rgb(0,188,212)',
          fontSize: 20
        },
        layout: {
          padding: {
            left: 50,
            right: 0,
            top: 0,
            bottom: 0
          }
        },
        legend: {
          labels: {
            fontColor: 'rgb(0,188,212)'
          }
        }
      }
    });
  </script>
</body>

</html>
