#banner1 {
display: block;
	background-color: black;
	height: 200px;
	width: 98%;
	border: 5px white double;
	border-radius: 15px;
}

}
#Top {
	margin-top: 20px
}
body {
	background-color: #B0C4DE;
	background: linear-gradient(to top left, #222222 32%, #666666 61%); /* Dégradé de couleurs vertical */
	width:99%;
}
ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
 margin-left:20px;
 float:left;
 padding:35px;
 }
ul li a {
 display:block;
 float:left;
 width:115%;
 background-color:black;
 color:white;
 text-decoration:none;
 text-align:center;
 padding:20px;
 border:2px solid;
 border-color:#DCDCDC #696969 #696969 #DCDCDC;
 font-style:normal;
 font-weight:bold;
 font-family:fantasy;
 font-size:30px;
 border-radius: 15px;
 }
ul li a:hover {
 background-color:#333333;
 border-color:#696969 #DCDCDC #DCDCDC #696969;
 background: linear-gradient(to bottom, #000000 0%, #333333 100%); /* Dégradé de couleurs vertical */
 }
 #twitter {
	 float:left;
	width: 30% ;
	display:inline-block;
	padding-left:5%;
 }
 #map {
	 float:right;
	 display:inline-block;
	 padding-right:1%;
	 height : 200px;

	  }

 td {
	border: 5px  #666666 ;
	background-color:linear-gradient(to top left, #222222 32%, #666666 61%); /* Dégradé de couleurs vertical */
	color:white;
	border-radius: 15px;
	text-align:center;
	padding:10px;
 }
 tr{
 	padding:50px;
	 }
	 th{
	border: 5px black double;
	background-color:#252525;
	color:white;
	border-radius: 15px;
	text-align:center;
	padding:10px;
		 }
		 #zoom:active{
			transform: scale(1.45); /*Agrandir image pull (Zoom) */
			 }
			#login{
			margin-left:35%;
			}
	#text{
		 display:block;
 float:left;
 width:50%;
 background-color:black;
 color:white;
 text-decoration:none;
 text-align:center;
 padding:20px;
 border:2px solid;
 border-color:#DCDCDC #696969 #696969 #DCDCDC;
 font-style:normal;
 font-size:15px;
 border-radius: 15px;
 margin-left:23%;
		}
		#titre2{
			 font-size:25px;
			 text-decoration:underline;
			}
